FERROAMP_HOST=192.168.68.59
FERROAMP_PORT=1883
FERROAMP_USERNAME=CHANGE_ME
FERROAMP_PASSWORD=CHANGE_ME
BATTERY_CAPACITY_KWH=15
BATTERY_MAX_POWER_KW=5
BATTERY_MIN_SOC=10
BATTERY_MAX_SOC=95
BATTERY_INITIAL_SOC=50
BATTERY_EFFICIENCY=0.95
PEAK_LIMIT_KW=10
